body {
  width: 1020px;
  margin: 0;
  font-family: "Lato", "Verdana", sans-serif;
}

.get_a_quote {
  height: 648px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get {
  padding-top: 68px;
  padding-left: 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.15px;
}

.text_get {
  padding-top: 27px;
  padding-left: 40px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  text-align: justify;
}

.get_form {
  display: flex;
  flex-direction: row;
  padding-top: 47px;
}

.fieldset {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 16px;
  padding-left: 14px;
  width: 605px;
  height: 38px;
  border-radius: 5px;
  border-style: hidden;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
}

.area {
  padding-top: 7px;
  width: 605px;
  height: 195px;
  border-radius: 5px;
  background-color: #d6564f;
}

.form-field::-webkit-input-placeholder {
  color: #f48c8f;
}

.form-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-field::-moz-placeholder {
  color: #f48c8f;
}

.form-field:focus::-moz-placeholder {
  color: transparent;
}

.submit {
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border-style: hidden;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: center;
}

.contact_info {
  margin-left: 21px;
}

.info_h {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.15px;
}

.info_text {
  width: 300px;
  height: 80px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.03px;
}

.info_contacts {
  margin-top: 28px;
  height: 55px;
}

.contact_how {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.loc {
  padding-left: 3px;
  padding-right: 3px;
}

.tel {
  padding-left: 1px;
  padding-right: 2px;
}

.contact_description {
  margin-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: left;
}

a.contact_description {
  text-decoration: none;
  color: #f0d8d9;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 76px;
  background-color: #2d303a;
}

.copy_right {
  display: block;
  padding-left: 42px;
  padding-top: 27px;
  padding-bottom: 15px;
  height: 11px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #666d89;
  letter-spacing: -0.15px;
}

.social_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155px;
  padding-right: 38px;
  padding-top: 21px;
}

.icon_footer:hover,
.submit:hover {
  opacity: 70%;
}
