
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Verdana", sans-serif;
}

header {
  display: flex;
  width: 1020px;
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

h1 {
  margin-top:  41px;
  margin-left: 40px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: left;
}

span {
  color: #f06c64;
}

header > nav {
  margin-left: 452px;
  margin-top: 47px;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
}

nav > ul > li {
  float: left;
  color: #323746;
  display: block;
  padding-right: 13px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

a.menu_top:hover {
  color: #f06c64;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 1020px;
  height: 594px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.direction:hover {
  opacity: 55%;
}

.left {
  padding-top: 281px;
  padding-left: 42px;
}

.right {
  padding-top: 281px;
  padding-left: 55px;
}

.phone1 {
  padding-top: 53px;
  padding-left: 54px;
}

.phone2 {
  padding-top: 174px;
  padding-left: 73px;
}

.services {
  width: 1020px;
  height: 495px;
  background-color: #f2f2f2;
}

.text {
  padding-top: 68px;
  padding-left: 40px;
  padding-right: 15px;
  letter-spacing: -0.15px;
}

.title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.text1 {
  padding-top: 27px;
  margin: 0;
  width: 940px;
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.0px;
}

.service_detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 208px;
  width: 940px;
  padding-top: 45px;
  padding-left: 40px;
}

.detail {
  display: flex;
  flex-direction: row;
  height: 85px;
  width: 300px;
}

.detail > img {
  padding-top: 2px;
}

.servise_about {
  padding-left: 20px;
}

.servise_name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.1px;
}

.servise_text {
  width: 219px;
  height: 128px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
}
